<h1 class="page-header">Admins</h1>

<% if @admin.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            O administrador não foi salvo porquê:
            <ul>
                <% @admin.errors.full_messages.each do |error| %>
                    <li><%= error %></li>
                <% end %>
            </ul>
        </div>
<% end %>

<div class="panel panel-default">
    <div class="panel-heading">
        <%= action %>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="col-lg-6">
            <%= form_for [:backoffice, @admin] do |form| %>
                
                <div class="form-group">
                    <label>Nome</label>
                    <%= form.text_field :name, class: "form-control", placeholder: "Ex: João da Silva", required: "required"%>
                </div>

                <div class="form-group">
                    <label>E-mail</label>
                    <%= form.email_field :email, class: "form-control", placeholder: "Ex: user@company.com", required: "required"%>
                </div>
                
                <div class="form-group">
                    <label>Senha</label>
                    <% if is_update %>
                        <%= form.password_field :password, class: "form-control", placeholder: "Ex: Algo mais difícil que 123456"%>
                    <% else %>
                        <%= form.password_field :password, class: "form-control", placeholder: "Ex: Algo mais difícil que 123456", required: "required"%>
                    <% end%>
                    
                </div>
                
                <div class="form-group">
                    <label>Confirmação da Senha</label>
                    <% if is_update %>
                        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirmação da senha"%>
                    <% else%>
                        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirmação da senha", required: "required"%>
                    <% end %>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Salvar</button>
                </div>
            <% end %>
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->